header{
    text-align: center;
}
header h1{
}
.main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.btn-primary, .btn-success, .btn-danger{
    text-transform: uppercase;
}
#form{
    width:50%;
    margin-left:auto;
    margin-right: auto;
}
.title{
    text-align: center;
}